@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela:wght@400&display=swap');

.frame {
  /* min-height: 100vh; */
  padding: 7vw;
}


.heading {
  font-family: 'Poppins', sans-serif;
  font-style:normal;
  font-weight: 500;
  font-size: calc(35px + 2vw);
  line-height: 100%;
  margin-bottom: 30px;
}

.text {
  font-family: 'Varela', sans-serif;
  /* font-style: normal; */
  font-weight: 400;
  font-size: calc(15px + .2vw);
  line-height: 145.7%;
  margin-top: 0.5vw;
}

/* Menu */
.menu {
  position: absolute;
  top: 1.5vw;
  right: 0;
}

.menuItem {
  font-family: 'Poppins', sans-serif;
  font-style:normal;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 100%;

  color: black;
  text-decoration: none;
  margin-right: 5vw;

}

/* .menuItem:hover {
  text-shadow: 1px 1px 6px rgba(76, 13, 105, 0.2);
  mix-blend-mode: multiply;
} */

@media only screen and (max-width: 650px) {
  .menu {
    display: none;
  }
}

/* footer */
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 4vw;
  justify-content: space-around;
  row-gap: 20px;
}
.footer-text {
  font-family: 'Poppins', sans-serif;
    font-style:normal;
    font-weight: 500;
    font-size: calc(14px + 0.8vw);
}

/* SCROLLBAR
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #FF88B2; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E780AF; 
}  */