.end {
    /* background-image: url("background_2.png"); */
    background-size: cover;
}

.end-title {
    font-family: 'Poppins', sans-serif;
    font-style:normal;
    font-weight: 500;
    font-size: calc(14px + 0.8vw);
}

.end-item {
    border-radius: 4vw;
    /* padding: 1.5vw 3vw; */
    padding-right: 3vw;
    padding-left: 3vw;
    padding-top: 1.5vw;
    padding-bottom: 1vw;
    background-color: white;
    margin: 1.5vw 0;
}
 .end-item-container {
     margin-top: 2.7vw;
 }